{% extends "doctorapp/base.html" %}
{% block content %}
{% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    {% endif %}

<h2>Manage Appointment</h2>
<table class="table  table-danger table-striped">
        <thead>
            <tr>
                <th>Booking No:</th>
                <th>Patient</th>
                <th>Facility</th>
                <th>Appointment Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if appointments %}
            {% for appointment in appointments %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ appointment.patient.name }}</td>
                    <td>{{ appointment.doctor.facility.name }}</td>
                    <td>{{ appointment.appointment_date }}</td>
                    <td>{{ appointment.status }}</td>
                    <td>
                        <a href="{% url 'doc_appointment_detail' appointment.id %}" class="btn btn-info">Details</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
           <tr>
                <td colspan="6" class="text-center"><h6>No Appointments</h6></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}