{% extends "adminapp/base.html" %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <h1>Doctor Registration</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="specialization">Specialization</label>
            <select class="form-control" id="specialization" name="specialization" required>
                <option value="">Select Specialization</option>
                    {% for specialization in specializations %}
                        <option value="{{ specialization.0 }}">{{ specialization.1 }}</option>
                    {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="contact">Contact</label>
            <input type="text" class="form-control" id="contact" name="contact" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="facility">Facility</label>
            <select class="form-control" id="facility" name="facility" required>
                <option value="">Select Facility</option>
                {% for facility in facilities %}
                    <option value="{{ facility.id }}">{{ facility.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="image">Profile picture</label>
            <input type="file" class="form-control-file" id="image" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
